.notfound {
  display: inline-block;
  margin: 0;
  color: white;
}

.notfound h1 {
  margin: 0.8em 3rem;
  font: 4em Roboto;
}

.notfound p {
  display: inline-block;
  margin: 0.2em 3rem;
  font: 2em Roboto;
}
